extends ../../layouts/page

block title
    title Blog

block header
  +header('Blog', '\n' +
  "This is the place where I'll share my thoughts, experiences and just things that surround me, not only at work, but also in life. Some things are my own know-how, some of them are ideas of other people that I implemented, improving something, or adding my own comment.", 'blog-header', 'blog')

block main
  #page-blog
  .blog
    .blog__main
      for post in posts
        article.blog__article.blog-article.js-article(data-article=post.hash)
          header.blog-article__header
            h2.blog-article__title= post.title
            time.blog-article__datetime= post.date
          .blog-article__text!= post.text
    .blog__sidebar
      aside.sidebar#js-sidebar-container
        .sidebar__toggle#sidebar-toggle
        .sidebar__wrapper
          nav.sidebar__nav
            ul.sidebar__list
              for post in posts
                li.sidebar__item
                  a.sidebar__link.js-show-article(href="##{post.hash}")= post.title