.slider.js-slider
    .slider__about
        .slider__about-wrapper
            +title('span').title_2.slider__about-name.js-slider__slide-name= works[0].name
            span.slider__about-description.js-slider__slide-description= works[0].description
            a.slider__about-button.js-slider__slide-link(href=works[0].link target='_blank') View note
                +iconsvg('link')(class='slider__about-button-icon')
    .slider__main
        .slider__main-image.js-slider__slide-image
        ul.slider__work-list.js-slider__slides
            for work in works
                li.js-slider__item(data-id=work.slug data-name=work.name, data-description=work.description, data-link=work.link, data-img=work.img)
                    img.js-slider__img(src=work.img alt=work.name)
    .slider__controls
        .slider__control.slider__control_left.js-slider__prev
            .slider__control-wrapper
                .slider__control-preview.slider__control-preview_next.js-slider__control-image_next
                .slider__control-preview.slider__control-preview_current.js-slider__control-image_current
            +iconsvg('portf-arrow-down')(class='slider__control-ic slider__control-ic_down')
        .slider__control.slider__control_right.js-slider__next
            .slider__control-wrapper
                .slider__control-preview.slider__control-preview_next.js-slider__control-image_next
                .slider__control-preview.slider__control-preview_current.js-slider__control-image_current
            +iconsvg('portf-arrow-up')(class='slider__control-ic slider__control-ic_up')